<div class="row" data-ng-controller="homeController">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p class="text-primary">If you have Username and Password, you can use the button below to access the secured content using a token.</p>
        <p><a class="btn btn-info" href="#/login" role="button">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sign Up</h2>
        <p class="text-primary">Use the button below to create Username and Password to access the secured content using a token.</p>
        <p><a class="btn btn-info" href="#/signup" role="button">Sign Up &raquo;</a></p>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
    <!-- Section -->
    <section ng-include="pageTemplate.url"></section>
</div>

<!--<div class="row" data-ng-controller="homeController">
    <nav id="menu" ng-include="menuTemplate.url" ng-controller="menuController">
    </nav>
</div>-->




<!--<div class="jumbotron">
    <div class="container">
        <div class="page-header text-center">
            <h1>AngularJS Authentication</h1>
        </div>
        <p>This single page application is built using AngularJS, it is using OAuth bearer token authentication, ASP.NET Web API 2, OWIN middleware, and ASP.NET Identity to generate tokens and register users.</p>
    </div>
</div>
<div class="container">
    <div data-ng-view="">
    </div>
</div>
<hr />
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="text-muted">Created by Taiseer Joudeh. Twitter: <a target="_blank" href="http://twitter.com/tjoudeh">@tjoudeh</a></p>
            </div>
            <div class="col-md-6">
                <p class="text-muted">Taiseer Joudeh Blog: <a target="_blank" href="http://bitoftech.net">bitoftech.net</a></p>
            </div>
        </div>
    </div>
</div>-->